body {
  text-align: center;
}

h1 {
  font-family: sans-serif;
}

#startButton {
  font-family: sans-serif;
}

#resetButton {
  font-family: sans-serif;
}

.boxes {
  height: 150px;
  width: 150px;
  border: 2px black solid;
  display: inline-block;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}
